body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcoral;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemon-card {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  width: 30%;
  margin: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokedex-container {
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 1px solid black;
  margin: 10px 10px;
}