# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

.vscode
node_modules/

# End of https://www.toptal.com/developers/gitignore/api/vscode