.pokemon-card {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  width: 30%;
  margin: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.favorite {
  background-color: black;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
